.Parentbox{
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 150px;
}
.Foto{
  float: left;
  width: 30%;
  height: 620px;
}

.Foto img{
  width: 570px;
}

.Deskripsi{
  width: 60%;
  overflow: hidden;
  float: left;
  margin-left: 150px;
}

.Deskripsi .Info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.Deskripsi .Price{
  font-size: 25px;
  font-weight: 300;
}

.Deskripsi .Title {
  margin: 0;
}

.Deskripsi .Cate {
  color: #acaeb2;
}

.Deskripsi .buy{
  margin-top: 50px; 
  width: 90px;
  height: 40px;
  background-color: gray;
}
.Deskripsi .buy:hover{
  background-color: lightgrey
}
.Deskripsi .A{
  margin-left: 20px;
  background-color: lightgrey
}
.Deskripsi .A:hover{
  background-color: gray
}
.Deskripsi .B{
  background-color: lightgrey
}
.Deskripsi .B:hover{
  background-color: gray
}
.Deskripsi .C{
  background-color: lightgrey
}
.Deskripsi .C:hover{
  background-color: gray
}
.Deskripsi .D{
  background-color: lightgrey
}
.Deskripsi .D:hover{
  background-color: gray
}
.Deskripsi .Add{
  margin-left: 10px;
  width: 200px;
  height: 40px;
  background-color: grey
}
.Deskripsi .Add:hover{
  background-color: lightgrey
}

